@charset "utf-8";
.main {
    background-color: #FF0004;
    width: 300px;
    height: 150px;
}
.image {
    background-color: #FFE500;
    width: 100px;
    height: 150px;
    float: left;
}
.text {
    background-color: #00FF0D;
    width: 200px;
    height: 150px;
    float: right;
}
